* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1c1c1c;
  color: rgb(221, 221, 221);
}

.list {
  border: 1px solid purple;
  height: 80vh;
  width: 90vw;
  margin: auto;
  overflow: hidden;
  background-color: #121212;
}

/* card start */

.card {
  display: flex;
  border-bottom: 1px solid #2c2c2c;
  align-content: center;
  margin: 0 40px 0 40px;
  padding: 20px 0 20px 0;
}

.film-img {
  width: 20%;
  align-self: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 15px;
  gap: 10px;
}

.card-title-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: 12px;
}

.card-title-row h2 {
  align-self: center;
  font-size: 18px;
  margin-right: 0.5rem;
}

.card-title-row img {
  margin-right: 0.3rem;
  height: 100%;
}

.card-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 12px;
}

.wishlist-btn {
  display: flex;
  flex-direction: row;
  height: 2rem;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  padding-right: 5px;
}

.btn img {
  width: 15px;
  height: 15px;
}

/* card end */
